DB_PATH=""
JWT_SECRET="iLWWnEDkzvDzZoI2MOn52Q5Avd1xIyyotkwNo8CDEMc="
PLATFORM="dev"
FILEPATH_ROOT="."
ASSETS_ROOT="./assets"
PORT="8080"
DB_URL="YOUR_CONNECTION_STRING_HERE?sslmode=disable"    # In staging/production you should use SSL 
REFRESH_PEPPER="9f68c6a4d8d1b231b7f1c77e4b4a8124d5c9d06f6f7b4a9e1b4d7e021b8c7d0a"
CORS_ALLOWED_ORIGIN="http://localhost:3000"
