.auth-form-bg {
    min-height: 100vh;
    background: #202020;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-form-container {
    background: #181818;
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.20);
    padding: 40px 48px 48px 48px;
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-form-title {
    color: #f5f5f5;
    margin-bottom: 50px;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.auth-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-form-input {
    background: #323237;
    border: 1px solid #232323;
    padding: 12px;
    color: #f5f5f5;
    font-size: 1rem;
    margin-bottom: 14px;
    width: 100%;
    outline: none;
    transition: border 0.2s;
    box-sizing: border-box;
    margin-top: 5px;
}

.auth-form-input:focus {
    border: 1px solid #184D47;
}

/* From Uiverse.io by mrhyddenn */
.submit-button {
    display: block;
    width: 150px;
    margin: 0 auto 20px auto;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}

.big {
    width: 180px;
}

.submit-button::before,
.submit-button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.submit-button::before {
    top: 0;
    border-bottom-width: 0;
}

.submit-button::after {
    bottom: 0;
    border-top-width: 0;
}

.submit-button:active,
.submit-button:focus {
    outline: none;
}

.submit-button:active::before,
.submit-button:active::after {
    right: 3px;
    left: 3px;
}

.submit-button:active::before {
    top: 3px;
}

.submit-button:active::after {
    bottom: 3px;
}

.submit-button-lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #323237;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.submit-button-lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
}

.submit-button-lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
}

.submit-button-sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: #184D47;
    transform: skew(-15deg);
    transition: all .2s ease;
}

.submit-button-text {
    position: relative;
}

.submit-button:hover {
    color: #0f1923;
}

.submit-button:hover .submit-button-sl {
    width: calc(100% + 15px);
}

.submit-button:hover .submit-button-lg::after {
    background-color: #fff;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.error-msg {
    color: #e53935;
    font-size: .75em;
    position: absolute;
    top: -22px;
    left: 0;
    width: 100%;
    min-height: 18px;
    pointer-events: none;
    z-index: 2;
    text-align: left;
}

.backend-error-msg {
    color: #e53935;
}